body {
    background-color: #3b4074;
}


.Login {
    color: #002060;
    font-size: larger;
    background-color: #f1f7ff;
    align-items: center;
    font-family: 'almoni ml v5 aaa ultrabold';
}

.LoginButton {
    background-color: #3b4074;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'almoni ml v5 aaa ultrabold';
    border-radius: 6px;
}

.WarningMessages {
    color: #e74f4f;
    font-size: medium;
    font-family: 'almoni ml v5 aaa ultrabold';
}



